.hero {
  background-color: #e2b77ad0;
  text-align: center;
  padding: 140px;
  box-sizing: border-box;
}
.hero h1 {
  font-family: "Playball", cursive;
  font-size: 84px;
  border: 3px solid black;
}
@media (max-width: 576px) {
  .hero h1 {
    border: none;
  }
}
