html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.nav-link {
  color: #433a3a;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.nav-link:hover {
  background-color: #464242;
  color: #e2b77a;
}
.hero {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 160px;
  box-sizing: border-box;
  border-radius: 5px;
}
.hero-1 {
  background-color: #e2b77ad0;
}
.hero h1 {
  justify-content: center;
  align-items: center;
  font-family: "Playball", cursive;
  font-size: 84px;
  border: 5px solid black;
  padding: 20px;
}
.hero-2 {
  background-image: url(/images/hot-drink.jpg);
  background-size: contain;
  background-repeat: round;
}
.hero-3 {
  background-image: url(/images/bakery.jpg);
  background-size: contain;
  background-repeat: round;
}
.hero-4 {
  background-image: url(/images/bfast-sandwich.jpg);
  background-size: contain;
  background-repeat: round;
}

.hero-5 {
  background-image: url(/images/Fruit-Smoothie.jpeg);
  background-size: contain;
  background-repeat: round;
}
.font {
  color: #ffffff;
}
img {
  border-radius: 5px;
}
.about {
  padding-top: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h2 {
  font-family: "Playball", cursive;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}
h3 {
  font-size: 50px;
  font-family: "Akaya Telivigala", cursive;
}
h4 {
  font-family: "Akaya Telivigala", cursive;
}
.para-font {
  font-size: 14px;
}
p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.order-link {
  padding: 10px 18px;
  border: 2px solid #845c23;
  text-decoration: none;
  color: #845c23;
  border-radius: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.order-link:hover {
  background-color: #845c23;
  color: #faebd7;
}
.heros {
  background-color: #e2b77ad0;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}
a {
  color: black;
}
.list-item {
  list-style-type: none;
  display: inline-block;
  padding: 0 30px;
}
.footer-list {
  text-align: center;
}
@media (max-width: 912px) {
  .hero {
    padding: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .heros {
    display: flex;
  }
  .heros p {
    font-size: 15px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
  .row-a {
    display: flex;
    flex-direction: column-reverse;
  }
  .row-b {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 700px) {
  .hero-2,
  .hero-3,
  .hero-4,
  .hero-5 {
    background-size: cover;
  }
}
@media (min-width: 1000px) {
  h4 {
    font-size: 28px;
  }
  .para-font {
    font-size: 20px;
  }
}
